html, body{
  background: #fff; 
  font-size: 16px;
  height: 100%;
  text-align: center; 
}

.page-title p , .page-title h1{
  padding: 0;
  margin: 0;
  color: #FFF;
  font-size: 2em;
}

.page-title h1 {
  font-size: 5.5em;
  letter-spacing: 3px;
  padding-top: 12%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Oswald', sans-serif;
}

/* .wrap {  
  height: auto;
  position: relative;  
  z-index: 200;
  top: 100vh;
  background-color: #e7ecef;
  margin-right: auto;
  margin-left: auto;
  min-width: 100%;  
} */

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

p , .typer{
  font-size: 1.2em;
  line-height: 1.8;
  margin-top: 30px;
  font-weight: 300;
  padding-top: 1em;
  color: #272932;
  font-family: 'Oswald', serif;
}

img {
  max-width: 100%;  
  padding-top: 20px;
}

.section-header{
  padding-top: 1.5em;
  padding-bottom: 2em;
  font-size: 5em;
  letter-spacing: 2px;
  color: #f05d5e;
  background-color: #fff;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

/***************** Header img and personal logo *****************/

header {
/*   margin-bottom: 4em; */
  text-align: center;
/*   position: fixed; */
  right: 0;
  left: 0;
/*   z-index: 1; */
/*   height: 100vh;   */
  margin-right: auto;
  margin-left: auto; 
  background-size: cover;
  will-change: transform; 
  -webkit-transform: translateZ(0); 
  transition: height 1000000s ease;
  -webkit-transition: height 1000000s ease;
  -moz-transition: height 1000000s ease;
  -o-transition: height 1000000s ease;

  background: -webkit-linear-gradient(273deg, rgba(20,41,62,0.99), #f05d5e);
  
  background: linear-gradient(177deg, rgba(20,41,62,0.99), #f05d5e);
  background-size: 200% 200%;
  -webkit-animation: header 30s ease infinite;
          animation: header 30s ease infinite;
}

@-webkit-keyframes header { 
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}

@keyframes header { 
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}

header img {  
/*   top: 10%; */
  max-height: 300px;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto; 
}

/***************** Extend to edges of screen *****************/
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row{
  margin-right: 0 !important;
  margin-left: 0 !important;
}


/***************** Media queries for header imgs *****************/

@media screen and (max-width:  800px) {

  .page-title h1{
    padding-top: 30%;
    font-size: 4.5em;
  }

  header img {  
    max-height: 250px;
    max-width: 250px;
  }

  .mouse-scroll{ 
    margin-top: 1px;
  }

  .mouse{
    position: absolute;
    right: 46.5% !important;
    top: 91% !important;
  }  

}


/***************** CSS mouse scroll icon *****************/


/* // Animations */

@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    top: 29%;
  }
  15% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    top: 50%;
  }
  50% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    top: 50%;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    top: 29%;
  }
}

@keyframes scroll-ani {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    top: 29%;
  }
  15% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    top: 50%;
  }
  50% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    top: 50%;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    top: 29%;
  }
}

/* // Mouse & Message Styles

// The Scroll Link */
.mouse-scroll {
  display: inline-block;
  line-height: 18px;
  font-size: 10px;
  font-weight: normal;
  color: #7F8C8D;
  color: #FFF;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  margin-top: 8%;
  text-decoration: none;
  overflow: hidden;
  width: 100%;
}
  
/*   // The Mouse */
.mouse {
  position: absolute;
  right: 49.10%;
  top: 93%;
  display: block;
  width: 30px;
  height: 45px;
  margin: 0 auto 20px;
  box-sizing: border-box;
  border: 3px solid #FFF;
  border-radius: 23px;
}
  
/*     // Scroll Indicator */
.mouse-movement { 
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #FFF;
  border-radius: 50%;
  -webkit-animation: scroll-ani 4s linear infinite;
          animation: scroll-ani 4s linear infinite;
}  


/***************** Projects *****************/
.portfolio-logos {
  padding-bottom: 1em;
  padding-top: 1em;
  font-family: 'Oswald', sans-serif;
  background-color: rgba(255,255,255,0.95);
  overflow: hidden; 
}

.portfolio-logos h2 {
  padding-bottom: 2.5em;
  font-size: 5em;
  letter-spacing: 2px;
  color: #0f7173;
}

.logo-container:hover a {
  text-decoration: none;
}

.logo-container:hover { 
   -webkit-filter: contrast(120%);
}

.logo-container:hover figcaption {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.logo-container figcaption p{
    min-height: 150px;
    font-size: 1.5em;
    color:  rgba(20,41,62,0.95);
}

.logo-container figure {     
  margin-right: auto;
  margin-left: auto;  
}

.logo-container img {
  height: auto;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  max-width: 100%; 
  max-height: 330px;
}

.logo-container:hover img {
  -webkit-transform: scale(.9);
          transform: scale(.9);
}

/***************** Skill icon section *****************/
.skill-icons{
  font-size: 7em;
  color: #e7ecef;
  background-color: rgba(20,41,62,0.95);
  padding-bottom: 1em;
  font-family: 'Oswald', sans-serif;
  line-height: 1.95em;
  overflow: hidden;
}

#skills {
  background-color: rgba(20,41,62,0.95);
    padding-bottom: 2em;
}

.btn{
  visibility: hidden;
}

.wrapper{
  display: none;
}


.btn-icons{
  visibility: hidden;
}

.wrapper-icons{
  display: none;
}

@media only screen and (max-width : 768px) {
    /***************** Open Close Button Projects *****************/
    .portfolio-logos{
      display: none;
    }
    .btn{
      visibility: visible;
    }  
  
    .wrapper {
      position: absolute;
      left: 50%;
      -webkit-overflow-scrolling: touch;
      -webkit-transform: translate(-50%, -99%);
              transform: translate(-50%, -99%);
      margin-right: 50%;
      margin-left: auto;
      padding-bottom: 5em;
      display: block;
    }

    .btn {
      font-size: 15px;
      -webkit-appearance: none;
      border: none;
      color: #f05d5e;
      width: 5em;
      height: 5em;
      text-indent: -9999px;
      background-color: transparent;
      outline: none;
    }

    .btn:before, .btn:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 0.7em;
      background-color: #f05d5e;
      border-radius: 2em;
      top: 45%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
    }

    .btn:before {
      left: -1.55em;
    }

    .btn:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      right: -1.55em;
    }

    .wrapper .btn.active, .wrapper .btn:active{
      box-shadow: none;
    }

    div .btn.focus,
    div .btn:focus,
    div .btn:active:focus,
    div .btn.active:focus, 
    div .btn.active.focus{
      outline: none;
    }

    .btn.active:before {
      left: 0;

    }

    .btn.active:after {
      right: 0;
    }

    /***************** Open Close Button Skills*****************/
    .skill-icons{
      display: none;
    }
    .btn-icons{
      visibility: visible;
    }
    .wrapper-icons {
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, -90%);
              transform: translate(-50%, -90%);
      margin-right: 50%;
      margin-left: auto;
      padding-bottom: 5em;
      display: block;
    }
    .btn-icons {
      font-size: 15px;
      -webkit-appearance: none;
      border: none;
      color: #f05d5e;
      width: 5em;
      height: 5em;
      text-indent: -9999px;
      background-color: transparent;
      outline: none;
    }

    .btn-icons:before, .btn-icons:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 0.7em;
      background-color: #f05d5e;
      border-radius: 2em;
      top: 45%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
    }

    .btn-icons:before {
      left: -1.55em;
    }

    .btn-icons:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      right: -1.55em;
    }

    .wrapper-icons .btn-icons.active, .wrapper-icons .btn-icons:active{
      box-shadow: none;
    }

    div .btn-icons.focus,
    div .btn-icons:focus,
    div .btn-icons:active:focus,
    div .btn-icons.active:focus, 
    div .btn-icons.active.focus{
      outline: none;
    }

    .btn-icons.active:before {
      left: 0;

    }

    .btn-icons.active:after {
      right: 0;
    }
}


/***************** About Me *****************/
.about-me {
  max-width: 50%;
  float: left;
  letter-spacing: 1.15px;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: 'Oswald', sans-serif;
  background-color: rgba(255,255,255,0.95);
  z-index: 9999;
}

.split-div {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-image: url("images/main-background.jpg");
  background-size: 100%;
  background-attachment: fixed;
  z-index: 200;
  overflow: hidden;
  -webkit-transform: translateZ(0);
}

.about-me div {
  text-align: left;
  font-size: 32px;
  font-size: 2rem;
}

.about-me div h1 {
  font-size: 160px;
  font-size: 10rem;
}

.about-me div h2 {
  font-size: 112px;
  font-size: 7rem;
  letter-spacing: 2px;
  color: #f05d5e;
}

.about-me div span {
  text-align: left;
  color: #f05d5e;
  font-weight: 600;
}



@media only screen and (max-width : 1024px) {
    .about-me {
       min-width: 100%;
    }
    .about-me div{
      font-size: 1.5rem;
    }
    div .threejs-holder{
       min-width: 100%;
    }
    .about-me div h1 {
      font-size: 7rem;
    }
    div .threejs-image{
      position: absolute;
      transform: translate(-50%, 30%);
    }
}

/***************** threejs section *****************/
.threejs-holder {
  max-width: 50%;
  max-height: 800px;
  min-width: 50%;
  float: right;
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
  background-color: rgba(20,41,62,0.90);
  z-index: 9999;
  color: #fff;
  overflow: hidden;
}

.threejs-holder div h2 {
  padding-bottom: 1.5em;
  font-size: 3.5em;
  letter-spacing: 2px;
  color: #f05d5e;
}

.threejs-holder p {
  color: #fff;
}

.threejs-image{
  position: absolute;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -webkit-overflow-scrolling: touch;
}

/***************** footer *****************/

footer {  
  margin-right: auto;
  margin-left: auto;
  padding-top: 4.5em; 
  padding-bottom: 2em;
  background-color: rgba(20,41,62,0.999);
  font-size: 15px;  
  color: #e7ecef;
  z-index: 300;
}

/***************** Social/Contact *****************/

.social-icons {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  line-height: 70px;
  font-size: 35px;
  text-align: center;
  color: #e7ecef;
  border-radius: 50%;
  background: #f05d5e;
  overflow: hidden;
  -webkit-transition: color .3s;
  transition: color .3s;
  margin-bottom: 30px; 
}

a:hover{
  text-decoration: none;
}

a:focus{
  text-decoration: none;
}

.social a:hover {
  text-decoration: none;
}

.social-icons:hover {
  color: #272932;
  cursor: pointer;
  text-decoration: none;
}

/***************** Nav menu *****************/

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: rgba(20,41,62,0.99);
  display: none;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 400;
  left: 0;
  top: 0;
  background-color: #272932;
  opacity: 0.98;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Oswald', sans-serif;
}

.overlay-content {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 50px;
  color: #e7ecef;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f05d5e;
  text-decoration: none;
}

.overlay .closebtn {
  position: absolute;
  top: -30px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
}

#hamburger {
  color: #f05d5e;
  margin-top: 5px;  
  margin-bottom: 1em;
  z-index: 5;  

}

#hamburger:hover {
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .hamburger {
    margin-top: 2px;
    margin-bottom: 15px;
  }
}

/***************** Back to top *****************/

a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;  
  background: #f05d5e url("images/logos/up-arrow.png") no-repeat center 43%;
  border-radius: 30px;
}



