html{
  background: #fff; 
  height: 100%;
}

body {
  background: #fff; 
  text-align: center; 
}

.page-title p , .page-title h1{
  padding: 0;
  margin: 0;
  color: #FFF;
  font-size: 2em;
}

.page-title h1 {
  font-size: 5.5em;
  letter-spacing: 3px;
  padding-top: 12%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Oswald', sans-serif;
}

.wrap {  
  height: auto;
  position: relative;  
  z-index: 200;
  top: 100vh;
  background-color: #e7ecef;
  margin-right: auto;
  margin-left: auto;
  min-width: 100%;  
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: 19px;
  line-height: 1.8;
  margin-top: 30px;
  font-weight: 300;
  padding-top: 1em;
  color: #272932;
  font-family: 'Quattrocento', serif;
}

img {
  max-width: 100%;  
  padding-top: 20px;
}

.section-header{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 5em;
  letter-spacing: 2px;
  color: #f05d5e;
  background-color: #fff;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  cursor: pointer;
}

/***************** Header img and personal logo *****************/

header {
  margin-bottom: 4em;
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  min-height: 100vh;
  max-width: 101%;
  margin-right: auto;
  margin-left: auto; 

  background: linear-gradient(177deg, #0f7173, #f05d5e);
  background-size: 400% 400%;

  -webkit-animation: header 30s ease infinite;
  -moz-animation: header 30s ease infinite;
  animation: header 30s ease infinite;

}

@-webkit-keyframes header {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@-moz-keyframes header {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@keyframes header { 
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}

header img {  
  top: 2em;
  max-height: 300px;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto; 
}

/***************** Media queries for header imgs *****************/

@media screen and (max-width:  800px) {

  .page-title h1{
    padding-top: 25%;
    font-size: 4.5em;
  }

  header img {  
    max-height: 250px;
    max-width: 250px;
  }

  .mouse-scroll{ 
    margin-top: 1px;
  }

  .mouse{
    position: absolute;
    right: 45% !important;
    top: 91% !important;
  }  

}


/***************** CSS mouse scroll icon *****************/


/* // Animations */
@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

/* // Mouse & Message Styles

// The Scroll Link */
.mouse-scroll {
  display: inline-block;
  line-height: 18px;
  font-size: 10px;
  font-weight: normal;
  color: #7F8C8D;
  color: #FFF;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  margin-top: 8%;
  text-decoration: none;
  overflow: hidden;
  width: 100%;
}
  
/*   // The Mouse */
.mouse {
  position: absolute;
  right: 49.10%;
  top: 93%;
  display: block;
  width: 30px;
  height: 45px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #FFF;
  border-radius: 23px;
}
  
/*     // Scroll Indicator */
.mouse-movement { 
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #FFF;
  border-radius: 50%;
  -webkit-animation: scroll-ani 4s linear infinite;
  -moz-animation: scroll-ani 4s linear infinite;
  animation: scroll-ani 4s linear infinite;
}  


/***************** Portfolio logos *****************/
.portfolio-logos {
  padding-bottom: 9em;
  font-family: 'Oswald', sans-serif;
  background-color: rgba(255,255,255,0.95);
  display: none;
  overflow: hidden; 
}

.portfolio-logos h2 {
  padding-bottom: 2.5em;
  font-size: 5em;
  letter-spacing: 2px;
  color: #0f7173;
}

.logo-container:hover a {
  text-decoration: none;
}

.logo-container:hover { 
   -webkit-filter: contrast(120%);
}

.logo-container:hover figcaption {
  opacity: 1;
}

.logo-container figcaption p{
    min-height: 150px;
    font-size: 2em;
    color:  rgba(20,41,62,0.95);
}

.logo-container figure {     
  margin-right: auto;
  margin-left: auto;  
}

.logo-container img {
  height: auto;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  max-width: 100%; 
  max-height: 330px;
}

.logo-container:hover img {
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
}

/***************** Extend to edges of screen *****************/
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row{
  margin-right: 0 !important;
  margin-left: 0 !important;
}


/***************** Social/Contact *****************/

.social-icons {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  line-height: 70px;
  font-size: 35px;
  text-align: center;
  color: #e7ecef;
  border-radius: 50%;
  background: #f05d5e;
  overflow: hidden;
  transition: color .3s;
  margin-bottom: 30px; 
}

a:hover{
  text-decoration: none;
}

a:focus{
  text-decoration: none;
}

.social a:hover {
  text-decoration: none;
}

.social-icons:hover {
  color: #272932;
  cursor: pointer;
  text-decoration: none;
}


/***************** Skill icon section *****************/
.skill-icons{
  font-size: 7em;
  color: #fff;
  background-color: #0f7173;
  padding-bottom: .75em;
  font-family: 'Oswald', sans-serif;
  line-height: 1.95em;
  display: none;
  overflow: hidden;
}



.skill-icons h2{
  padding-bottom: 1em;
  font-size: 55px;
  letter-spacing: 2px;
  color: #f05d5e;
}

#skills {
  background-color: #0f7173; 
}

/***************** About Me *****************/
/* .split{
  background-image: url("images/main-background.jpg");
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
} */

.about-me {
  max-width: 50%;
  float: left;
  letter-spacing: 2px;
  padding-top: 10%;
  padding-bottom: 10%;
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
  background-color: rgba(255,255,255,0.95);
  z-index: 9999;
}

.split-div {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-image: url("images/main-background.jpg");
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.about-me div h2 {
  padding-bottom: 1.5em;
  font-size: 3.5em;
  letter-spacing: 2px;
  color: #f05d5e;
}

@media only screen and (max-width : 1024px) {
    .about-me {
       min-width: 100%;
    }
    .place-holder{
       min-width: 100%;
    }

}

/***************** Placeholder section *****************/
.place-holder {
  max-width: 50%;
  float: right;
  letter-spacing: 2px;
  padding-top: 10%;
  padding-bottom: 10%;
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
  background-color: rgba(20,41,62,0.95);
  z-index: 9999;
  color: #fff;
}

.place-holder div h2 {
  padding-bottom: 1.5em;
  font-size: 3.5em;
  letter-spacing: 2px;
  color: #f05d5e;
}

.place-holder p {
  color: #fff;
}

/***************** footer *****************/

footer {  
  margin-right: auto;
  margin-left: auto;
  padding-top: 4.5em; 
  padding-bottom: 2em;
  background-color: #0f7173;
  font-size: 15px;  
  color: #e7ecef;
}

/* hr {    
  opacity: 0.5; 
  border-top: 1px solid #272932 !important; 
} */

/***************** Nav menu *****************/

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: #0f7173;
  display: none;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 400;
  left: 0;
  top: 0;
  background-color: #272932;
  opacity: 0.98;
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #e7ecef;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f05d5e;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#hamburger {
  color: #f05d5e;
  margin-top: 5px;  
  margin-bottom: 1em;
  z-index: 5;  

}

#hamburger:hover {
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .hamburger {
    margin-top: 2px;
    margin-bottom: 15px;
  }
}

/***************** Back to top *****************/

a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;  
  background: #f05d5e url("images/logos/up-arrow.png") no-repeat center 43%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/*------------------- JavaScript Games -------------------*/

/* canvas {
  vertical-align: middle;
  background-color: #093A3E; 
  max-height: 750px;
  margin-left: auto;
  margin-right: auto;
}

#gameCanvas {
  margin-bottom: 40px;
  padding: 0 0;
  width: 100%;
  height: 100%;
}

#phaserGame {
  padding: 0 0;
} */


/*------------------- JavaScript Quiz -------------------*/
/* #questionbox {  
  margin: 0 auto;   
  position: relative;
  float: none;
  min-width: 250px;
  max-width: 700px;
  min-height: 300px; 
  border: 4px solid rgba(28, 73, 119,0.8);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal 14px/1 "Times New Roman", Times, serif;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background-color: rgba(134, 153, 171, .89);
  margin-bottom: 5%;
  text-align: left;
  margin-top: 75px;
}

#answer-form {
  font-family: sans-serif;
  color: white;
  font-weight: 15px;
  margin-left: 2%;
} */


/*Question box buttons*/

/* .button {
  -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
  background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color:#768d87;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:11px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e; 
}

.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
  background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color:#6c7c7c;
}

.button:active {
  position:absolute;
}

#submitButton { 
  float: right; 
  bottom: 0;
  right: 0;
  position: absolute;
  margin-right: 1%;
  margin-bottom: 1px;   
}

#backButton {
  float: left;  
  bottom: 0;  
  position: absolute;
  margin-left: -1%;
  margin-bottom: 1px; 
  text-align: left;
  
}

#nextButton {
  float: right; 
  bottom: 0;
  right: 0;
  position: absolute;
  margin-right: 1%;
  margin-bottom: 1px;
}

#display-question { 
  margin-top: 5px;
  font: normal 18px sans-serif;
  color: white;
  text-align: center;
}

#diplay-submit-question {
  top: 50%;
  margin-top: 5px;
  font: normal 18px sans-serif;
  color: white;
  text-align: center;
}

.work-display #score-div{
  top: 50%;
  margin-top: 5px;
  font: normal 25px sans-serif;
  color: white;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

 */