body {
  background: #e7ecef; 
  text-align: center; 
  font-family: "Open Sans", sans-serif; 
}

.wrap {  
  height: auto;
  position: relative;  
  z-index: 200;
  top: 700px;
  background-color: #e7ecef;
  padding-top: 50px;   
  margin-right: auto;
  margin-left: auto;
  min-width: 99%;
}

.inner-wrap {
  background-color: #e7ecef;
  height: auto;
  position: relative;  
  max-width: 100%;
  z-index: 200; 
  margin-right: auto;
  margin-left: auto; 
}

p {
  font-size: 19px;
  line-height: 1.8;
  margin-top: 30px;
  font-weight: 300;
  padding-top: 1em;
  color: #272932;
}

img {
  max-width: 100%;  
  padding-top: 20px;
}

.top-margin {
  margin-top: 3em;
}


/***************** Header img and personal logo *****************/

header {
  background-color: #999;
  background-image: url("images/main-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 4em;
  text-align: center;
  height: 50px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  min-height: 700px;
  max-width: 101%;
  margin-right: auto;
  margin-left: auto; 
}

header img {  
  top: 200px;
  height: auto;
  width: 50%;  
  padding-bottom: 1.3em;
  padding-top: .5em;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;  
  max-width: 750px;
  min-width: 275px;
  -webkit-transform: translateZ(0);
}

/***************** Portfolio logos *****************/
.portfolio-logos {
  padding-bottom: 70px;  
  padding-top: 60px;
}

.logo-container:hover a {
  text-decoration: none;
}

.logo-container:hover { 
   -webkit-filter: contrast(120%);
}

.logo-container:hover figcaption {
  opacity: 1;
}

.logo-container figcaption p{
    min-height: 89px;
}

.logo-container figure {     
  margin-right: auto;
  margin-left: auto;  
}

.logo-container img {
  height: auto;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  max-width: 100%; 
  max-height: 330px;
}

.logo-container:hover img {
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
}


/***************** Media queries for header imgs *****************/

@media screen and (max-width:  800px) {
  header{
    height: 400px;
  }
  header img{
    height: auto;
    top: 100px;
    width: 90%;
    margin-right: 25px;
  }
  .wrap{
    top: 300px;
  }
}

@media only screen and (max-width : 800px){
  header img {
    top:10em;    
  }
  .wrap{
    top: 400px;
  }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  header img {
    top:10em;    
  }
  .wrap{
    top: 400px;
  }
}

/***************** Extend to edges of screen *****************/
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row{
  margin-right: 0 !important;
  margin-left: 0 !important;
}


/***************** Social/Contact *****************/
/* .social {
  padding-top: 3em; 
} */

.social-icons {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  line-height: 70px;
  font-family: Entypo;
  font-size: 35px;
  text-align: center;
  color: #e7ecef;
  border-radius: 50%;
  background: #f05d5e;
  overflow: hidden;
  transition: color .3s;
  margin-bottom: 30px; 
}

a:hover{
  text-decoration: none;
}

a:focus{
  text-decoration: none;
}

.social a:hover {
  text-decoration: none;
}

.social-icons:hover {
  color: #272932;
  cursor: pointer;
  text-decoration: none;
}

/***************** footer *****************/

footer {  
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;
  padding-top: 4.5em; 
  padding-bottom: 2em;
  background-color: #0f7173;
  font-size: 15px;  
  color: #e7ecef;
  font-family: "Open Sans", sans-serif;  
}

hr {    
  opacity: 0.5; 
  border-top: 1px solid #272932 !important; 
}

/***************** Nav menu *****************/

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: #272932;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 400;
  left: 0;
  top: 0;
  background-color: #272932;
  opacity: 0.98;
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #e7ecef;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f05d5e;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#hamburger {
  color: #f05d5e;
  margin-top: 5px;  
  margin-bottom: 1em;
  z-index: 5;  

}

#hamburger:hover {
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .hamburger {
    margin-top: 2px;
    margin-bottom: 15px;
  }
}

/***************** Back to top *****************/

a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;  
  background: #f05d5e url("images/logos/up-arrow.png") no-repeat center 43%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/***************** Welcome *****************/
.get-in-touch {
  max-width: 100%;
  display: block;
  letter-spacing: 2px;
  padding: 10px;
  padding-top: 100px;  
  min-height: 400px;
}


/***************** Skill icon section *****************/
.skillIcons{
  font-size: 100px;
  color: #272932;
  background-color: #0f7173;
  padding-top: 100px; 
  padding-bottom: 70px; 
  min-height: 600px;
}

.padding-top {
  padding-top: 65px;
}

.skillsIconRows {
  margin-top: .5em;
}


/*------------------- JavaScript Games -------------------*/

canvas {
  vertical-align: middle;
  background-color: #093A3E; 
  max-height: 750px;
  margin-left: auto;
  margin-right: auto;
}

#gameCanvas {
  margin-bottom: 40px;
  padding: 0 0;
  width: 100%;
  height: 100%;
}

#phaserGame {
  padding: 0 0;
}


/*------------------- JavaScript Quiz -------------------*/
#questionbox {  
  margin: 0 auto;   
  position: relative;
  float: none;
  min-width: 250px;
  max-width: 700px;
  min-height: 300px; 
  border: 4px solid rgba(28, 73, 119,0.8);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal 14px/1 "Times New Roman", Times, serif;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background-color: rgba(134, 153, 171, .89);
  margin-bottom: 5%;
  text-align: left;
  margin-top: 75px;
}

#answer-form {
  font-family: sans-serif;
  color: white;
  font-weight: 15px;
  margin-left: 2%;
}


/*Question box buttons*/

.button {
  -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
  background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color:#768d87;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:11px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e; 
}

.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
  background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color:#6c7c7c;
}

.button:active {
  position:absolute;
}

#submitButton { 
  float: right; 
  bottom: 0;
  right: 0;
  position: absolute;
  margin-right: 1%;
  margin-bottom: 1px;   
}

#backButton {
  float: left;  
  bottom: 0;  
  position: absolute;
  margin-left: -1%;
  margin-bottom: 1px; 
  text-align: left;
  
}

#nextButton {
  float: right; 
  bottom: 0;
  right: 0;
  position: absolute;
  margin-right: 1%;
  margin-bottom: 1px;
}

#display-question { 
  margin-top: 5px;
  font: normal 18px sans-serif;
  color: white;
  text-align: center;
}

#diplay-submit-question {
  top: 50%;
  margin-top: 5px;
  font: normal 18px sans-serif;
  color: white;
  text-align: center;
}

.work-display #score-div{
  top: 50%;
  margin-top: 5px;
  font: normal 25px sans-serif;
  color: white;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

